header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
ul {
    display: flex;
    margin-left: -45px;
    margin-top: -10px;
    flex-direction: column;
    list-style: none;
}
li {
    padding: 2px;
}
.hire {
    margin-top: -10px;
}
header h4{
    font-weight: 800;
    color: black;
}
a {
    color: #69696a;
    font-size: small;
    margin: 3px;
    text-decoration: none;
}
button {
    display: flex;
    justify-content: center;
    border-radius: 25px 25px;
    background-color: black;
    color: #fff;
    padding: 5px;
    width: 100%;
}
button .call{
    color: #fff;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color:  #f9fafc;
    font-size: small;
    display: block;
}
body p{
    border-left: 2px solid #69696a;
    padding-left: 5px;
}
body h1{
    color: black;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -8px;
    font-family: 'Open Sans', sans-serif;
    background-color:rgba(247, 193, 162, 0.7);
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}
h5 {
    color: black;
    margin-left: 10px;
}
footer a{
    margin-right: 10px;
    font-size: small;
}
@media screen and (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 12px;
    }
    .hire {
        margin: 0px;
    }
    ul {
        margin-bottom: -20px;
        text-decoration: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    } 
    li {
        padding: 3px;
    }
    
    body .body{
        position: fixed;
        top: 170px;
        width: 50%;
        margin-left: 10px;
    }
    .circles {
        display: flex;
        
        height: 275px;
        width: 250px;
        position: fixed;
        right: 2px;
        top: 180px;
    }
    .circle1 {
    background: rgba(247, 136, 167, 0.6);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    }
    .circle2 {
        position: absolute;
        background: rgba(247, 193, 162, 0.7) ;
        border-radius: 50%;
        width: 145px;
        height: 145px;
        bottom: 0;
        right: 0; 
    }
    .circle3 {
        background: rgba(207, 130, 213, 0.6);
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 55px;
        right: 0;
    }

  }
  